[user]
	email = abdulmohsen.jawad.almajed@gmail.com
	name = ssda

[core]
    editor = nvim

[merge]
	tool = nvimdiff

[mergetool]
	keepBackup = false
	trustExitCode = false
	prompt = false

[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\"

