[user]
	email = abdulmohsen.jawad.almajed@gmail.com
	name = ssda

[core]
    editor = nvim

[merge]
    tool = nvim

[mergetool "nvim"]
    cmd = nvim -f -c 'set diffopt+=internal,filler,context:3' -c 'setlocal buftype=nofile' -c 'setlocal bufhidden=delete' 
